.NavBar a, .NavBar button {
  cursor: pointer; 
}

.NavBar {
  margin-bottom: 20px;
  padding: 5px 0;
}

h3 {
  display: inline-block;
  padding-top: 10px;
}

#add-btn {
  margin-left: 15px;
}
#logout-btn {
  margin-top: 5px;
}

#line-graph-margin-left {
  margin-left: -78px !important;
}

.react-calendar  {
	min-width: 500px !important;
  margin-bottom: 20px;
}

.center {
	  margin: 0 auto;
    width: 50%;
    
}

.check {
		margin-right: 57px;
		margin-bottom: 20px;
}
 
.float-right{
	  float: right;
}

.circle {
	  height: 12px;
	  width: 12px;
	  border-radius: 12px;
    display: inline-block;
    position: relative;
}

#sleep {
	  background-color:#4198f4;
}
  
#stress {
	  background-color:#f44242;
}

#exersize {
  background-color: #f552f5;
}

#meditation {
  background-color: #774df5;
}
  
#mood {
	  background-color:#f4dc41;
}

#energy {
	  background-color:#41f47c;
}

#diet {
	  background-color:#f49741;
}

.legend a {
    margin-right: 10px;
    color: #505050;
}

.legend {
    max-width: 500px;
    min-width: 500px;
    text-align: center
}

#legend-margin {
  margin-top: 8px;
}

#metric-legend {
  margin-bottom: 20px;

}

.modal-btn {
  margin-top: 10px;
}

.ui.small.modal {
  width: 670px !important;
  min-width: 670px !important;
}

h5 {
  color: #4183c4;
  padding-bottom: 20px;
}

