.NavBar a, .NavBar button {
  cursor: pointer;
  
}

.NavBar {
  padding-bottom: 20px;
  padding-top: 15px;
}

#add-btn {
  margin-left: 15px;
}
#line-graph-margin-left {
  margin-left: -80px !important;

}
.react-calendar  {
	min-width: 500px !important;
	/* margin: 0 auto; */
  /* width: 100px; */
  /* margin-left:80px; */
  margin-bottom: 30px;
  position: relative;

  }

  .center {
	  margin: 0 auto;
    width: 50%;
    position: relative;

  }

  .check {
		margin-right: 25px;
		margin-bottom: 20px;
  }
 

  .float-right{
	  float: right;
  }

  .circle {
	  height: 12px;
	  width: 12px;
	  border-radius: 12px;
	  display: inline-block;
  }

  #sleep {
	  background-color:#4198f4;
  }
  
  #stress {
	  background-color:#f44242;
  }
  
  #mood {
	  background-color:#f4dc41;
  }

  #energy {
	  background-color:#41f47c;
  }

  #diet {
	  background-color:#f49741;
  }

  #legend a {
    margin-right: 10px;
    color: black;
  }

  #legend {
    min-width: 600px;
    /* margin-left: 80px; */
  }
  
  

