html{
  background-color: #4183c4 !important;
}

.NavBar {
  margin-bottom: 20px;
}

h2 {
  display: inline-block;
  padding-top: 10px;
}

#add-btn {
  margin-left: 3em;
  font-size: 1.3em;
}

#logout-btn {
  margin-top: 14px;
  float: right;
  font-size: 1.3em;
}

#line-graph-margin-left {
  margin-left: -78px !important;
}

.react-calendar  {
	min-width: 500px !important;
  margin-bottom: 20px;
}

.center {
	  margin: 0 auto;
    width: 50%;
}

#index-padding {
  padding-left: 32px;
}

.filter-toggles input {
		margin-right: 57px;
		margin-bottom: 20px;
}

.filter-toggles input:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
 
i.icon:hover {
  cursor: pointer;
}

.float-right{
	  float: right;
}

.circle {
	  height: 12px;
	  width: 12px;
	  border-radius: 12px;
    display: inline-block;
    position: relative;
}

.legend a {
    margin-right: 10px;
    margin-left: 5px;
    color: #605f5f;
}

.legend {
    max-width: 500px;
    min-width: 500px;
    text-align: center
}

#legend-margin {
  margin-top: 8px;
}

#metric-legend {
  margin-bottom: 20px;

}

.modal-btn {
  margin-top: 10px;
}

.ui.small.modal {
  width: 670px !important;
  min-width: 670px !important;
}

h5 {
  color: #4183c4;
  padding-bottom: 20px;
}

#peace {
  cursor: default;
}